.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.mat-content form,
mat-card-actions,
mat-card-footer,
mat-card-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mat-title {
  margin-bottom: 16px;
  text-align: center;
}

.message {
  padding: 8px;
  text-align: center;
}
