.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.mat-content form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mat-title {
  margin-bottom: 16px;
}
